.mapWrap {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 48px; /* sidebar width approx */
    right: 0px;
    z-index: 1; /* Ensure it's above background */
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}
